<h1>Question {{count}}</h1>
<div *ngIf="isLoadActor && isLoadMovie">
  <div class="container">
    <div class="actor">
      <img class="img" *ngIf="actor" src="{{actor?.img}}" alt="{{actor?.name}}" title="actor">
      <div *ngIf="!actor" class="notFound"></div>
    </div>
    <div class="movie">
      <img class="img" *ngIf="movie" src="{{movie?.img}}" alt="{{movie?.title}}" title="movie">
      <div *ngIf="!movie" class="notFound"></div>
    </div>
  </div>
  <div class="container">
    <div class="message">
      <app-question-message [actor]="actor.name" [movie]="movie.title"></app-question-message>
    </div>
  </div>
  <div class="tag">
    <button style="display: block" mat-raised-button color="warn"
                 (click)="noAnswer()">NO</button>
    <button style="display: block" mat-raised-button color="primary"
                 (click)="yesAnswer()">YES</button>
  </div>
</div>
<div class="container" *ngIf="!isLoadActor || !isLoadMovie">
  <mat-spinner [diameter]="500"></mat-spinner>
</div>

