<h1>Question {{count}}</h1>
<div *ngIf="isLoadActor && isLoadMovie">
  <div class="container">
    <div class="actor">
      <img class="img" src="{{actor.img}}" >
    </div>
    <div class="movie">
      <img class="img" src="{{movie.img}}">
    </div>
  </div>
  <div class="container">
    <div class="message">
      <app-question-message [actor]="actor.name" [movie]="movie.title"></app-question-message>
    </div>
  </div>
  <div class="tag">
    <button style="display: block" mat-raised-button color="warn"
                 (click)="noAnswer()">NO</button>
    <button style="display: block" mat-raised-button color="primary"
                 (click)="yesAnswer()">YES</button>
  </div>
</div>

