.container {
  margin: 2% 10%;
  width: auto;
  display: flex;
  justify-content: space-evenly;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.tag {
  display: flex;
  column-gap: 10%;
  justify-content: center;
  margin: 0.5% 10%;
}

$paddingButton: 70px;

button {
  letter-spacing: 6px;
  padding-right: $paddingButton;
  padding-left: $paddingButton;
}

h1 {
  text-align: center;
  font-size: 40px;
  line-height: 30px;
  letter-spacing: 2px;
  font-family: Arial, sans-serif;
}


