<h1>Question {{count}}</h1>
<div *ngIf="actor && movie">
  <div class="container">
    <div class="actor">
      <app-image *ngIf="isLoadActor" [img]="actor.img" [title]="actor.name" [alt]="actor.name"></app-image>
    </div>
    <div class="movie">
      <app-image *ngIf="isLoadMovie" [img]="movie.img" [title]="movie.title" [alt]="movie.title"></app-image>
    </div>
  </div>
  <div class="container">
    <div class="message">
      <app-question-message *ngIf="isLoadMovie && isLoadActor" [actor]="actor?.name" [movie]="movie?.title"></app-question-message>
    </div>
  </div>
  <div class="tag">
    <button style="display: block" mat-raised-button color="warn"
                 (click)="noAnswer()">NO</button>
    <button style="display: block" mat-raised-button color="primary"
                 (click)="yesAnswer()">YES</button>
  </div>
</div>
<div class="container" *ngIf="!actor || !movie">
  <mat-spinner [diameter]="500"></mat-spinner>
</div>

