<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="'/questions'">
    <mat-icon>report_problem</mat-icon>
    <span>questions</span>
  </button>
  <button mat-menu-item disabled [routerLink]="'/game-over'">
    <mat-icon>voicemail</mat-icon>
    <span>Game Over</span>
  </button>
  <button mat-menu-item [routerLink]="'/welcome'">
    <mat-icon>home</mat-icon>
    <span>Welcome</span>
  </button>
  <a href="https://github.com/teraluis/cyclope">GiT Hub</a>
</mat-menu>
