<app-chronometre [max]="60" (expiration)="chronometer($event)"></app-chronometre>
<div class="scores">
  <div class="score align-right">
    <span matBadge="{{highScore}}" matBadgeSize="medium" matBadgeOverlap="false" matBadgeColor="accent">--HIGH SCORE--</span>
  </div>
</div>
<div class="scores">
  <div class="score align-right">
    <span matBadge="{{score}}" matBadgeSize="medium" matBadgeOverlap="false" matBadgeColor="primary">
      --SCORE--</span>
  </div>
</div>
<app-question *ngIf="castingId && movieId" [castingId]="castingId"
              [movieId]="movieId"
              [count]="question"
              (notify)="movie($event)"
></app-question>

