<div class="chronometers">
  <div class="chronometer">
    <span *ngIf="minutes > 0">Minutes {{minutes}} :</span>
    <span *ngIf="minutes === 0">Time: </span>
    {{seconders}}
  </div>
</div>
<div class="scores">
  <div class="score align-right">
    <span matBadge="{{highScore}}" matBadgeSize="medium" matBadgeOverlap="false" matBadgeColor="accent">--HIGH SCORE--</span>
  </div>
</div>
<div class="scores">
  <div class="score align-right">
    <span matBadge="{{score}}" matBadgeSize="medium" matBadgeOverlap="false" matBadgeColor="primary">
      --SCORE--</span>
  </div>
</div>
<app-question [castingId]="castingId"
              [movieId]="movieId"
              [count]="question"
              (notify)="onNotify($event)"
></app-question>

