.img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: -11px 4px 29px 0px rgba(54,105,210,0.75);
  -webkit-box-shadow: -11px 4px 29px 0px rgba(54,105,210,0.75);
  -moz-box-shadow: -11px 4px 29px 0px rgba(54,105,210,0.75);
}
